<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.StMapper">
	<resultMap type="com.entity.St" id="StMap">
		<id property="st_id" column="student_id" />
		<result property="st_name" column="student_name" />
		<result property="st_sex" column="student_sex" />
		<result property="st_age" column="student_age" />
		<result property="st_tel" column="student_tel" />
		<result property="st_address" column="student_address" />
		<result property="st_email" column="student_email" />
	</resultMap>
	<!--检索mysql需要的数据 -->
	<select id="getSt" parameterType="com.entity.St" resultType="com.entity.St" 
	resultMap="StMap">
		select student_id ,student_name,student_sex,student_age,student_tel,student_address,student_email
     	from y_student
     	where student_name = #{st_name} 
     	or
     	student_age = #{st_age}

	</select>
	

</mapper>