<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
	<resultMap type="com.entity.User" id="UserMap">
		<id property="user_id" column="user_id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="age" column="age"/>
		<result property="flag" column="flag" />
		

	</resultMap>
	<!--检索mysql需要的数据 -->
	<select id="getUser" parameterType="com.entity.User"
		resultType="com.entity.User" resultMap="UserMap">
		select user_name,user_id
		from 
		y_user
		where
		user_id = #{user_id} and password = #{password}
		
	</select>
	

</mapper>